



.social {
    position:fixed;
    top:260px;
    right:40px;
    list-style-type:none;
}


.social li {
    margin-bottom:15px;
} 


 #logo {
    display:inline;
    margin-bottom:16px;
}     




.home #nav li:nth-child(1) a,
.about #nav li:nth-child(2) a,
.drinks #nav li:nth-child(3) a,
.products #nav li:nth-child(4) a,
.contact #nav li:nth-child(5) a
 {
    background:#D9961A;
    color:white;
} 


/* Here started the portal.css */
html {
    background-color:#ccc;
}

main.wrapper {
    background-color:#fff;
    overflow:auto;
}

h1>a {
    text-decoration: none;
    color:#000;
}

.logo {
    color:red;
    margin-left:1%;
    text-shadow:1px 1px #ccc;
    font-size:1.25em;
}

/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
	clear:both;
    background-color:lightblue;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /* height:50px; */
    line-height:50px;
    border-top:1px;
    font-size:.9em;
}










/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1400px) {
	
   main.wrapper {
		width:80%;
		margin:auto;
	}

    section {
		width:65%;
		float:left;
	}
	
     aside {	
		width:34%;
		float:right;
        background-color:#fff;
        /* padding: 20px; */
        border: 1px solid #ccc;
        padding-top:20px;
        margin-left:20px;
	}
	
    
    aside p{
        font-size:.9em;
        margin-left:10px;
        
    }



    img.desktop {
      		float:left;
       		width:50%;
            display:inline-block;
    }
    
    img.tablet, img.phone {
       	display:none;
    	}  
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        		background-color: #ccc;
        		color:#000;
   	 }
}


/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {
	
	section {
		width:60%;
		float:left;
	}
	
	aside {	
		width:39%;
		float:right;
	}

    aside image {
        float:left;
    }


	
    img.tablet {
       		width:100%;
            display:inline-block;
    }
    
    img.desktop, img.phone {
       	display:none;
    	}  
    
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #ccc;
        color:#000;
    }
}

/* PHONE */
@media all and (max-width:736px) {
    
    img.phone {
       		width:100%;
            display:inline-block;
    }
    
    img.tablet, img.desktop {
       	display:none;
    	}  

}


/* Styles Added more*/



h1 {
    color:brown;
}

h2, h3 {
    color:darkgreen;
}





main img {
    float:right;
    width:200px;
    border:gray 20px solid;
    margin-left:20px;
}


#wrapper{
    width:940px;
    margin:0 auto 0 auto;
    background: #eeeeee;
    padding:20px;
}

img + p {
    margin:15px 0 20px 0;
    
}


p {
    margin-bottom:20px;
    line-height:1.4;
    margin-left: 20px;
    
}

p.special-paragraph {
    margin-left: 20px;
  }
 
section image {
    float:right;
}
  
  
section, aside {
    box-sizing: border-box;
    width: 50%; /* Adjust the width as needed */
    float: left; /* If using floats */
  } 

